<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Login</title>
    </head>
<body>
    <header>
        
        <div class = "banner">
                
                <div  class = "logo">
                    <img class = "imagenLogo" src="/images/logo-mercado-liebre.svg">
                </div>
                
                
                <div class = "busqueda">
                    <div class = "contenedorBarra"> <input class = "barraBusqueda" type="search" placeholder="Buscar productos, marcas"> </div>
                    <div class = "contenedorLogoBusqueda"> <i class="logoBusqueda fa-solid fa-magnifying-glass"> </i></div>
                </div>

           
            
                <div class = subtitulo>
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <p class = "textoSubtitulo">Comprá en cuotas y sin tarjeta de credito</p>
                </div>

        </div>  

        <nav class = "menuNavegacion">

                <div class = "grupoEnlacesUno">
                        <div class = "contenedorEnlace"> <a class = "enlace" href="#">Ofertas</a> </div>
                        <div class = "contenedorEnlace"> <a class = "enlace" href="#">Tiendas Oficiales</a> </div>
                        <div class = "contenedorEnlace"> <a class = "enlace" href="#">Vender</a> </div>
                        <div class = "contenedorEnlace"> <a class = "enlace" href="#">Ayuda</a> </div>
                </div>

                <div class = "grupoEnlacesDos">
                    <div class = "contenedorEnlaceLogo"> <a class = "enlace" href="#">Creá tu cuenta</a> <i class="logoEnlaces fa-regular fa-id-card"></i> </div>
                    <div class = "contenedorEnlaceLogo"> <a class = "enlace" href="#">Ingresá</a> <i class="logoEnlaces fa-solid fa-right-to-bracket"></i> </div>
                    <div class = "contenedorEnlaceLogo"> <a class = "enlace" href="#">Mis compras</a> <i class="logoEnlaces fa-solid fa-basket-shopping"></i> </div>
                </div>

                
            <div class = "burgerMenu">
                <a class = "logoBurger" href="#"> <i class="iconBurger fa-sharp fa-solid fa-bars"></i> </a>
            </div>
            
        </nav>

        
    </header>

    <main>

        <form action = "/register" method = "post">
            <input type="text"> </input>
            <input type="text"> </input>
            <input type="text"> </input>
        </form>

    </main>
</body>
</html>