<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Mercado Liebre</title>
</head>
<body>
    
    <header>
        
        <div class = "banner">
                
                <div  class = "logo">
                    <img class = "imagenLogo" src="/images/logo-mercado-liebre.svg">
                </div>
                
                
                <div class = "busqueda">
                    <div class = "contenedorBarra"> <input class = "barraBusqueda" type="search" placeholder="Buscar productos, marcas"> </div>
                    <div class = "contenedorLogoBusqueda"> <i class="logoBusqueda fa-solid fa-magnifying-glass"> </i></div>
                </div>

           
            
                <div class = subtitulo>
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <p class = "textoSubtitulo">Comprá en cuotas y sin tarjeta de credito</p>
                </div>

        </div>  

        <nav class = "menuNavegacion">

                <div class = "grupoEnlacesUno">
                        <div class = "contenedorEnlace"> <a class = "enlace" href="#">Ofertas</a> </div>
                        <div class = "contenedorEnlace"> <a class = "enlace" href="#">Tiendas Oficiales</a> </div>
                        <div class = "contenedorEnlace"> <a class = "enlace" href="#">Vender</a> </div>
                        <div class = "contenedorEnlace"> <a class = "enlace" href="#">Ayuda</a> </div>
                </div>

                <div class = "grupoEnlacesDos">
                    <div class = "contenedorEnlaceLogo"> <a class = "enlace" href="#">Creá tu cuenta</a> <i class="logoEnlaces fa-regular fa-id-card"></i> </div>
                    <div class = "contenedorEnlaceLogo"> <a class = "enlace" href="/login">Ingresá</a> <i class="logoEnlaces fa-solid fa-right-to-bracket"></i> </div>
                    <div class = "contenedorEnlaceLogo"> <a class = "enlace" href="#">Mis compras</a> <i class="logoEnlaces fa-solid fa-basket-shopping"></i> </div>
                </div>

                
            <div class = "burgerMenu">
                <a class = "logoBurger" href="#"> <i class="iconBurger fa-sharp fa-solid fa-bars"></i> </a>
            </div>
            
        </nav>
        
    </header>

    <main>
        <form class = "formRegister" action="/" method="GET">
            
            <div class = "bloqueRegistro">
                <label class = "labelRegister" for = "nombreYApellido"> Nombre y apellido </label>
                <input class = "inputRegister" type="text" placeholder = "Nombre y apellido" name = "nombreApellido" id = "nombreYApellido" required minlength="5"> </input>
                <input class = "inputRegister" type="text" placeholder = "Nombre de usuario" name = "nombreUsuario" required minlength="5"> </input>
                <input class = "inputRegister" type="email" placeholder = "Email" name = "email" required> </input>
            </div>

            <div class = "bloqueRegistro">
                <label class = "labelRegister" > Fecha de nacimiento </label>
                <input class = "inputRegister" type="date" name = "fechaNacimiento" required> </input>
                <input class = "inputRegister" type="text" placeholder = "Domicilio" name = "domicilio" required> </input>
            </div>

            <div class = "bloqueRegistroUsuario">
                <label class = "labelRegister" > Perfil de usuario </label>
                <label class = "labelRadio" >
                    <input class = "inputRegisterRadio" type="radio" name = "tipoCliente" required> </input>
                    Comprador
                </label>
                <label class = "labelRadio" >
                    <input class = "inputRegisterRadio" type="radio" name = "tipoCliente" required> </input>
                    Vendedor
                </label>
            </div>

            <div class = "bloqueRegistro">
                <label class = "labelRegister" > Intereses </label>
                <label class = "labelCheckbox" >
                    <input class = "inputRegisterCheckBox" type="checkbox" name = "tipoInteres"> </input>
                    Electro
                </label>
                <label class = "labelCheckbox" >
                    <input class = "inputRegisterCheckBox" type="checkbox" name = "tipoInteres"> </input>
                    Moda
                </label>
                <label class = "labelCheckbox" >
                    <input class = "inputRegisterCheckBox" type="checkbox" name = "tipoInteres"> </input>
                    Hogar
                </label>
                <label class = "labelCheckbox" >
                    <input class = "inputRegisterCheckBox" type="checkbox" name = "tipoInteres"> </input>
                    Juguetería
                </label>
                <label class = "labelCheckbox" >
                    <input class = "inputRegisterCheckBox" type="checkbox" name = "tipoInteres"> </input>
                    Vida sana
                </label>
            </div>

            <div class = "bloqueRegistro">
                <label class = "labelRegister" > Foto de usuario </label>
                <input class = "inputRegister" type="file" name = "imagenDePefil" accept = ".jpg, .png"> </input>
                <label class = "labelRegister" for = "inputContraseña"> Contraseña </label>
                <input class = "inputRegister" type="password" placeholder = "Contraseña" name = "contraseña" id = "inputContraseña" required minlength="5"> </input>
                <input class = "inputRegister" type="password" placeholder = "Repetir contraseña" name = "contraseña" required minlength="5"> </input>
            </div>

            <input type = "submit" value = "Enviar" class = "buttonLogin" >  </input>

        </form>

    </main>

    <footer>
        
        <div class = contenidoFooter>

            <div class = "bloqueFooter">

                <i class="iconoFooter fa-solid fa-credit-card"></i>
                <p class = "tituloFooter"> Pagá con tarjeta o en efectivo</p>
                <p class = "textoFooter"> Con MercadoLiebreCash tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            
            </div>
            
            <div class = "bloqueFooter">
    
                <i class="iconoFooter fa-solid fa-gift"></i>
                <p class = "tituloFooter"> Envío gratis desde los $2.500 </p>
                <p class = "textoFooter"> Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            
            </div>
            
            <div class = "bloqueFooter">
                
                <i class="iconoFooter fa-solid fa-user-shield"></i>
                <p class = "tituloFooter"> Seguridad de principio a fin</p>
                <p class = "textoFooter"> ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
           
            </div>
            
            <div class = "derechosFooter">
                <p class = "textoDerechos"> Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
            </div>

        </div>
        
    </footer>

</body>
</html>