@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    margin: 0;
}

header {
    background-color: #EAC926;
}

main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto' , sans-serif;
    margin: auto;
}

.busqueda {
    width: 45%;
    height: 30px;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    border-width: thin;
    border-color: white;
    border-style: solid;
    background-color: white;
    align-self: center;
}

.logo {
    padding: 10px;
    width: 50%;
}

.banner {
    display: flex;
    flex-wrap: wrap;
}

.contenedorBarra {
    width: 90%;
    display: flex;
    font-family: 'Roboto' , sans-serif;
    
}

.barraBusqueda {
    width : 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
}

.contenedorLogoBusqueda {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoBusqueda {
    background-color: white;
    border: none;
    padding: 0px;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 50%;
}

.grupoUnoEnlaces {
    display: none;
}

.grupoDosEnlaces {
    display: none;
}

.enlace {
    text-decoration: none;
    color: black;
    font-family: 'Roboto' , sans-serif;
    font-size: 12px;
    display: none;
}

.textoSubtitulo {
    text-decoration: none;
    color: black;
    font-family: 'Roboto' , sans-serif;
    font-size: 12px;
}

.contenedorEnlace {
    display: none;
}

.contenedorEnlaceLogo {
    display: none;
}

.burgerMenu {
    justify-content: center;
    display: flex;
    padding: 10px;
}

.logoBurger {
    color: white;
    background-color: #03264C;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.iconBurger {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: white;
}

.contenidoFooter {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.bloqueFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.tituloFooter {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto' , sans-serif;
    color:  #666;
    
}

.textoFooter {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 12px;
    font-family: 'Roboto' , sans-serif;
    width: 80%;
    margin: auto;
    text-align: center;
}

.iconoFooter {
    font-size: 2em;
    color: #03264C;
    margin-bottom: 10px;
    transition-property: color;
    transition-duration: 0.5s;
}

.iconoFooter:hover {
    color: #666;
}

.textoDerechos {
    font-size: 12px;
    color:  #666;
}

.formRegister {
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    align-self: center;
}

.labelRegister {
    font-weight: bold;
    font-family: 'Roboto' , sans-serif;
    color:  black;
    margin-bottom: 10px;
    width: 100%;
    
}

.inputRegister {
    margin-bottom: 15px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    background-color: white;
    border-color: white;
    height: 25px;
}

.bloqueRegistro {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.bloqueRegistroUsuario {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.labelCheckbox {
    display: flex;
    align-items: center;
    font-family: 'Roboto' , sans-serif;
    color:  black;
    font-size: 12px;
    margin-bottom: 15px;
}

.labelRadio {
    display: flex;
    align-items: flex-end;
    font-family: 'Roboto' , sans-serif;
    color:  black;
    font-size: 12px;
    margin-bottom: 15px;
}

.buttonLogin {    
    width: 30%;
    height: 25px;
    border: solid;
    border-width: thin;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #0459b3;
    border-color: #0459b3;
    color: white;
    font-family: 'Roboto' , sans-serif;
    text-align: center;
    text-justify: center;
    margin-bottom: 10px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.buttonLogin:hover {
    background-color: #0022AA;
}

@media (min-width: 361px) {
    p {
        display: block;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .articulos {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }

    .banner {
        height: 60px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .subtitulo {
        width: 35%;
        height: 100%;
        justify-content: center;
        margin: 0px;
        padding-left: 10px;
    }

    .textoSubtitulo {
        font-size: 11px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .logo {
        width: 35%;
        padding: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagenLogo {
        height: 100%;
        width: 100%;
    }

    .linkImagenLogo {
        height: 60px;
        width: 110px;
    }

    .busqueda {
        width: 30%;
        height: 20px;
        margin-right: 0px;
        padding-left: 0px;
    }

    .contenedorBarra {
        width: 87%;
        padding-left: 5px;
    }

    .contenedorLogoBusqueda {
        width: 13%;
        border-left: solid;
        border-width: thin;
        border-color: #ebebeb;
    }

    .logoBusqueda {
        width: 14px;
        height: 14px;
    }

    .barraBusqueda {
        width: 100%;
        font-family: 'Roboto' , sans-serif;
    }

    .menuNavegacion {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
    }

    .grupoEnlacesUno {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .grupoEnlacesDos {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .contenedorEnlace {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: center;
    }

    .contenedorEnlaceLogo {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: center;
    }

    .logoEnlaces {
        padding-left: 2px;
    }

    .enlace {
        display: block;
        font-size: 11px;
    }

    .burgerMenu {
        display: none;
    }
}

@media (min-width: 500px) {

    p {
        display: block;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .banner {
        height: 60px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .subtitulo {
        width: 35%;
        height: 100%;
        justify-content: center;
        margin: 0px;
        padding-left: 10px;
    }

    .textoSubtitulo {
        font-size: 11px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .logo {
        width: 35%;
        padding: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagenLogo {
        height: 100%;
        width: 100%;
    }

    .linkImagenLogo {
        height: 60px;
        width: 110px;
    }

    .busqueda {
        width: 30%;
        height: 20px;
        margin-right: 0px;
        padding-left: 0px;
    }

    .contenedorBarra {
        width: 87%;
        padding-left: 5px;
    }

    .contenedorLogoBusqueda {
        width: 13%;
        border-left: solid;
        border-width: thin;
        border-color: #ebebeb;
    }

    .logoBusqueda {
        width: 14px;
        height: 14px;
    }

    .barraBusqueda {
        width: 100%;
        font-family: 'Roboto' , sans-serif;
    }

    .menuNavegacion {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
    }

    .grupoEnlacesUno {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .grupoEnlacesDos {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .contenedorEnlace {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: center;
    }

    .contenedorEnlaceLogo {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: center;
    }

    .logoEnlaces {
        padding-left: 2px;
    }

    .enlace {
        display: block;
        font-size: 11px;
    }

    .burgerMenu {
        display: none;
    }

    .textoFooter {
        width: 55%;
    }

    .buttonLogin {
        width: 15%;
    }
}

@media (min-width: 769px) {

    p {
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .imagenArticulo {
        height: 100%;
    }

    .banner {
        height: 50px;
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: normal;
    }
    
    .subtitulo {
        width: 30%;
        padding-left: 10px;
        justify-content: flex-start;
        margin: 0px;
    }

    .logo {
        width: 30%;
        padding: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .imagenLogo {
        height: 100%;
        width: 100%;
    }

    .linkImagenLogo {
        height: 40px;
        width: 200px;
    }

    .busqueda {
        width: 30%;
        height: 30px;
        margin-right: 0px;
        padding-left: 0px;
    }

    .contenedorBarra {
        width: 92%;
        padding-left: 5px;
    }

    .contenedorLogoBusqueda {
        width: 8%;
        border-left: solid;
        border-width: thin;
        border-color: #ebebeb;
    }

    .logoBusqueda {
        width: 15px;
        height: 15px;
    }

    .barraBusqueda {
        width: 100%;
        font-family: 'Roboto' , sans-serif;
    }

    .menuNavegacion {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 80%;
        margin: auto;
    }

    .grupoEnlacesUno {
        display: flex;
        flex-wrap: nowrap;
        width: 40%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
    }

    .grupoEnlacesDos {
        display: flex;
        flex-wrap: nowrap;
        width: 40%;
        height: 100%;
        align-items: center;
        justify-content: flex-start
    }

    .contenedorEnlace {
        display: flex;
        padding: 8px;
        height: 32px;
        align-items: normal;
        width: auto;
        justify-content: normal;
    }

    .contenedorEnlaceLogo {
        display: flex;
        padding: 8px;
        height: 32px;
        align-items: normal;
        width: auto;
        justify-content: normal;
    }

    .logoEnlaces {
        padding-left: 5px;
    }

    .enlace {
        display: block;
        font-size: 12px;
    }

    .burgerMenu {
        display: none;
    }

   .textoFooter {
        width: 55%;
    }

    .bloqueRegistro {
        width: 60%;
    }
    
    .bloqueRegistroUsuario {
        width: 60%;
    }
    
    .buttonLogin {
        width: 15%;
    }

    .contenidoFooter {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
   }
    
    .bloqueFooter {
        width: 33%;
    }
    
    .textoFooter {
        width: 100%;
    }

    .tituloFooter {
        font-size: 15px;
    }

}

@media (min-width: 1000px) {

    .textoFooter {
         width: 55%;
    }

     .contenidoFooter {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
 
    .bloqueFooter {
        width: 30%;
    }

    .bloqueRegistro {
        width: 50%;
    }
    
    .bloqueRegistroUsuario {
        width: 50%;
    }

    .buttonLogin {
        width: 10%;
    }
}